.LoginView{
    background-color: var(--background-color);
}
.LoginView .login-container{
   margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}
.LoginView .form-control {
    background-color: #fff;
    padding: 3rem;
}
.LoginView .error {
    color: var(--danger-color);
}
/* -- btn --- */
.LoginView .btn {
    border: none;
    width: 100%;
    padding: 1em;
    margin-bottom: .5rem;
    border-radius: 100px;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.4s ease;
}

.LoginView .btn-dark {
    margin-top: 1rem;
    background-color: var(--primary-color);
    color: #fff;
}
.LoginView .btn-dark:hover {
    background-color: #475047;
}
.LoginView .btn-dark:active {
    background-color: #363e36;
}

.LoginView .btn-light {
    border: 3px solid var(--primary-color);
    color: var(--primary-color);
    background-color: #fff;
}
.LoginView .btn-light:hover {
    background-color: var(--primary-color);
    color: #fff;
}
.LoginView .btn-light:active {
    background-color: #363e36;
    border: 3px solid #363e36;
    border: none;
}

/* -- Login top -- */
.LoginView .fa-solid {
    color: #000;
    font-size: 1.4rem;
}

.LoginView h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-bottom: 1rem;
}
.LoginView p {
    text-align: center;
    margin-bottom: 3rem;
}
