@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Cart html, body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Cart body{
    margin-bottom: 20px;
    padding: 0;
    background: linear-gradient(to bottom right, #E3F0FF, #FAFCFF);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Cart .container {
    position: absolute;
    top: 80px;
    margin: 0 auto 0 145px;
}



.Cart .header{
    font-family: 'Playfair Display', serif;
    margin-bottom: 2rem;
    padding-top: 1.5rem;
    text-decoration: underline 2px #68736842;
    text-underline-offset: 5px ;
    text-transform: uppercase;
    color: #5b685b;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Cart .form-cart{
    padding: 1rem;
    min-width: 50%;
    max-width: 80%;
    margin: 0 auto;
    border-bottom: 2px solid rgba(87, 87, 87, 0.26);
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.Cart .cart-item{
    display: flex; 
    
}
.Cart .img-1{
    height: 200px;
    margin-right: 1rem;
}
.Cart .text-group{

}
.Cart .text-group h1{
    font-size: 23px;
}
.Cart .text-group p{
    font-size: 15px;
}
.Cart .button-group{
    position: relative;
    top: 45px;
    right: 40px;
}
.Cart .button-group:hover{
    
}
.Cart .quantity{
    font-family:'Playfair Display', serif;
    position: relative;
    top: 150px;
    right: 90px ;
}
.Cart .quantity input { 
    position: relative;
    bottom: 3px;
    border: none;
    border-top: 2px solid rgba(0, 0, 0, 0.178);
    border-bottom: 2px solid rgba(0, 0, 0, 0.178);
    text-align: center;
    width: 30px;
    font-size: 10px;
    height: 30px;
}
.Cart button[class*=btn] {
    width: 32px;
    height: 30px;
    background-color: #fff;
    cursor: pointer;
  }
  .Cart button[class*=btn]:hover{
      background-color: #96969610;
  }
.Cart .plus-btn{
    border: 2px solid rgba(0, 0, 0, 0.178);
    border-left: none;
    font-weight:500;
    font-size: 20px;
}
.Cart .minus-btn{
    border: 2px solid rgba(0, 0, 0, 0.178);
    border-right: none;
    font-weight:500;
    font-size: 20px;
}
.Cart .item-price{
    text-align:end;
    font-size: 19px;
    font-weight: 700;

}
.Cart .remove-icon{
    background: none;
    color: #687368;
    border: none;
    font: inherit;
    font-size: 25px;
    font-weight: 700;
    padding: 0;
    cursor: pointer;
    outline: inherit;

}